@font-face {
    font-family: 'icomoon';
    src:
        url('../fonts/logo.ttf?ygd51c') format('truetype'),
        url('../fonts/logo.woff?ygd51c') format('woff'),
        url('../fonts/logo.svg?ygd51c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.dashicons-rocket:before {
    font-family: 'icomoon' !important;
    content: "\e9a5";
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}